# URL base del sistema bajo prueba
BASE_URL=https://www.saucedemo.com

# Credenciales (NO commitear el .env real)
TEST_USER_EMAIL=
TEST_USER_PASSWORD=

# Configuración de ejecución
HEADLESS=true
WORKERS=4

# Integraciones (Fase 2)
JIRA_API_TOKEN=
JIRA_BASE_URL=
FIGMA_API_TOKEN=
